@font-face{ font-family: "Futura Medium"; src: url(../fonts/Futura_Medium.otf); }
@font-face{ font-family: "Futura Medium"; src: url(../fonts/Futura_Medium.ttf); }
@font-face{ font-family: "Futura Light"; src: url(../fonts/Futura_Light.otf); }
@font-face{ font-family: "Futura Light"; src: url(../fonts/Futura_Light.ttf); }