/******************************************* COMMON STYLES *******************************************/
body{font-family: Helvetica, sans-serif; background-color: #ecf0f1; }
.uploader-container{ width: 100%; }
.logo{ width: 300px; height: 70px; line-height: 80px; background-color: #2c3e50; color: #fff; font-size: 30px; font-family: "Futura Medium"; text-align: center; }
.uploader-layout{ width: 952px; margin: 0 auto; }
.section-title{ font-size: 30px; padding: 15px 0;}
.extensions{ font-size: 20px; padding: 5px 0; }

/******************************************* DROPZONE *******************************************/
.dropzone{ width: 952px; box-sizing: border-box; border-width: 2px; border-style: dashed; border-color: #7f8c8d; height: 250px; line-height: 250px; text-align: center; font-size: 20px; color: #7f8c8d; background-color: #c8dadf;}
.dropzone.dragover{ border-color: #2c3e50; color: #2c3e50; }
#choose_file{ display: none; }
#choose_file_label{ cursor: pointer; }
#choose_file_label span{ color: #2c3e50; }

/******************************************* FILES *******************************************/
#your-files{ display: none; margin-bottom: 10px; }
#prepared-files{ position: relative; width: 952px; height: 130px; background-color: #c8dadf; }
.arrow{ position: absolute; width: 51px; height: 130px; line-height: 130px; font-size: 30px; color: #000; cursor: pointer; text-align: center; }
.arrow:hover{ background-color: #ccc; }
.arrow-disabled{ color: #7f8c8d; }
#left-arrow{ left: 0; }
#right-arrow{ right: 0; }
#items{ position: absolute; left: 51px; width: 850px; height: 130px; overflow: hidden; }
#items-list{ position: relative; list-style-type: none; height: 130px; -webkit-transition: margin-left 1s; transition: margin-left 1s; }
.item{ display: block; float: left; width: 170px; height: 100%;  }
.file{ width: 140px; height: 100px; margin: 15px; border-radius: 5px; background-color: #fff0ed; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); cursor: pointer; }
.file-active{ box-sizing: border-box; box-shadow: 0 0 10px rgba(46, 204, 113, 1); }
.name{ width: 107px; padding: 5px; height: 15px; overflow: hidden; font-size: 13px; }
.close{ display: block; float: right; width: 15px; height: 15px; line-height: 15px; cursor: pointer; border-radius: 50%; text-align: center; margin: 20px 20px 0 0; }
.close:hover{ background-color: #ccc; }
.extension{ margin: 0 5px; height: 65px; background-color: #c5eff7; line-height: 65px; text-align: center; font-size: 28px; }

/******************************************* PRINT OPTIONS *******************************************/
#print-options{ display: none; margin-bottom: 10px; }

/******************************************* IMAGE PREVIEW *******************************************/
.preview{ width: 952px; }
#image-block{ display: none; }
#image-print-options{ display: inline-block; float: left; width: 362px; background-color: #c8dadf; padding: 10px 10px 15px; margin-right: 97px; }
#image-print-options p, input, textarea{ font-size: 22px; }
#image-print-options p{ padding: 3px 0; }
.button{ display: inline-block; font-size: 22px; height: 30px; line-height: 30px; padding: 0 10px; border: 2px solid #000; margin-right: 10px; cursor: pointer; }
.button:hover{ color: #fff; background-color: #2c3e50; }
.button-active{ background-color: #2c3e50; color: #fff; }
#image-preview{ display: inline-block; width: 453px; height: 445.5px; padding: 10px; background-color: #c8dadf; }
#image-page{ padding: 30px 22.5px 30px 45px; background-color: #fff; overflow: hidden; }
.portrait-with-padding{ width: 247.5px; height: 385.5px; padding: 30px 22.5px 30px 45px; margin: 0 auto; }
.portrait-without-padding{ width: 315px; height: 445.5px; padding: 0!important; margin: 0 auto; }
.landscape-with-padding{ width: 378px; height: 255px; padding: 30px 22.5px 30px 45px; margin: 79px 0; }
.landscape-without-padding{ width: 445.5px; height: 315px; padding: 0!important; margin: 79px 0; }
.sample-image{ display: inline-block; float: left; }
.data-input{ width: 50px; height: 28px; background: transparent; border: 2px solid #000; padding-left: 5px; cursor: pointer; }
/* GETTING INPUTS INVISIBLE */
input[type=range]{ -webkit-appearance: none; width: 100%; background: transparent; } /* HIDING SLIDER SO THAT CUSTOM SLIDER CAN BE MADE */
input[type=range]::-webkit-slider-thumb{ -webkit-appearance: none; }
input[type=range]:focus{ outline: none; } /* REMOVES BLUE BORDER */
input[type=range]::-ms-track{ width: 100%; cursor: pointer; background: transparent; border-color: transparent; color: transparent; }
/* STYLING THUMB */
input[type=range]::-webkit-slider-thumb{ -webkit-appearance: none; width: 16px; height: 16px; border-radius: 50%; background-color: #000; cursor: pointer; margin-top: -5px; }
input[type=range]::-moz-range-thumb{ -webkit-appearance: none; width: 16px; height: 16px; border-radius: 50%; background-color: #000; cursor: pointer; margin-top: -5px; }
input[type=range]::-ms-thumb{ -webkit-appearance: none; width: 16px; height: 16px; border-radius: 50%; background-color: #000; cursor: pointer; margin-top: -5px; }
/* STYLING TRACK */
input[type=range]::-webkit-slider-runnable-track{ width: 100%; height: 5px; background-color: #000; }
input[type=range]:focus::-webkit-slider-runnable-track{ background-color: #000; }
input[type=range]::-moz-range-track{ width: 100%; height: 5px; background-color: #000; }
input[type=range]::-ms-track{ width: 100%; height: 5px; background-color: #000; }
input[type=range]::-ms-fill-lower{ width: 100%; height: 5px; background-color: #000; }
input[type=range]:focus::-ms-fill-lower{ background-color: #000; }
input[type=range]::-ms-fill-upper{ width: 100%; height: 5px; background-color: #000; }
input[type=range]::-ms-fill-upper{ background-color: #000; }
#objects-range{ width: 362px; }
.range-label:first-child{ float: left; }
.range-label:last-child{ float: right; }

/******************************************* DOCUMENT PREVIEW *******************************************/
#document-block{ display: none; margin-top: 20px; }
#document-print-options{ display: inline-block; float: left; width: 362px; background-color: #c8dadf; padding: 10px 10px 15px; margin-right: 97px; }
#document-print-options p, input{ font-size: 22px; }
#document-print-options p{ padding: 3px 0; }
#document-preview{ display: inline-block; width: 453px; height: 445.5px; padding: 10px; background-color: #c8dadf; margin: 0 auto; text-align: center; }
#document-preview p{ font-size: 22px; padding: 3px 0; }
#document-page{ width: 401px; height: 445.5px; }
#pages-number{ width: 110px; }

/******************************************* TOTAL *******************************************/
#total{ display: none; margin-bottom: 10px; }

/******************************************* PAYMENT *******************************************/
#payment{ display: none; margin-bottom: 10px; }
#payment label{ font-size: 22px; }
.payment-types{ width: 100%; }
.payment-number-container{ width: 100%; margin-top: 10px; }
#visa-number{ display: none; }
.payment-number{ width: 200px; margin-right: 20px; display: inline-block; }

/******************************************* EMAIL *******************************************/
#email{ display: none; margin-bottom: 10px; }
#email-itself{ width: 230px; margin-right: 20px; }

/******************************************* ORDER PREVIEW *******************************************/
.order-container{ width: 100%; }
.order{ width: 425px; margin: 0 auto; background-color: #c8dadf; text-align: center; padding: 15px; }
#order-number{ color: #000; font-size: 46px; }
.warning{ color: #7f8c8d; font-size: 24px; }
.print-more{ width: 100%; }
.print-more a{ color: #000; }
.print-more p{ text-align:center; font-size: 26px; padding: 10px 0; }

/******************************************* PRINT CONTAINER *******************************************/
#print{ display: none; width: 100%; height: 50px; margin: 20px 0; }
#print-button{ width: 250px; height: 50px; line-height: 50px; cursor: pointer; background-color: #2c3e50; font-size: 30px; color: #fff; margin: 0 auto; text-align: center; }
#print-button:hover{ background-color: #34495e; }
#copyright{ width: 100%; color: #000; text-align: center; margin-top: 20px; }
#copyright ul li{ display: inline-block; padding: 10px; }
#copyright ul li img{ height: 40px; }
.rights-reserved{ font-size: 18px; padding-top: 5px; }
.founder{ font-size: 14px; padding: 5px 0 10px; }

/******************************************* OVERLAY *******************************************/
#overlay{ display: none; position: fixed; left: 0; top: 0; background-color: #fff; opacity: 0.9; min-height: 100%; width: 100%; }
.overlay-container{ display: block; position: relative; text-align: center; margin: 250px auto 0; }
.overlay-container p{ font-size: 22px; }
.loader{ display: block; margin: 20px auto 0; border: 10px solid #f3f3f3; border-top: 10px solid #555; border-radius: 50%; width: 100px; height: 100px; animation: spin 2s linear infinite; }
@keyframes spin{ 
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/******************************************* MOBILE *******************************************/
.mobile .mobile-overlay{ width: 50%; height: 100%; padding: 70% 25%; position: fixed; background: #2c3e50; text-align: center; z-index: 999; }
.mobile .uploader-container, .android #ios, .desktop .mobile-overlay, .ios #android{ visibility: hidden; display: none; }
.mobile-overlay a{ text-decoration: none; }
.mobile-overlay a h2{ color:#fff; font-size: 28px; font-family: "Futura Light"; padding-bottom: 8px; }
.mobile-overlay a img{ width: 164px; }

/******************************************* FEEDBACK *******************************************/
#feedback-btn{ display: block; position: fixed; right: -108px; top: 270px; padding: 8px 0; color: #fff; cursor: pointer; background-color: #2c3e50; transform: rotate(-90deg); width: 250px; height: 18px; text-align: center;  }
#feedback-overlay{ display: none; position: fixed; cursor: pointer; left: 0; top: 0; background-color: #000; opacity: 0.7; min-height: 100%; width: 100%; }
#feedback-form{ display: none; position: fixed; left: 0; top: 0; right: 0; bottom: 0; margin: auto; width: 500px; height: 420px; background-color: #c8dadf; z-index: 3; }
#feedback-form ul{ padding-top: 20px; }
#feedback-form ul li{ text-align: center; margin-top: 10px; }
#feedback-form ul li:first-child{ margin-top: 0; }
#feedback-form ul li input, #feedback-form ul li textarea{ width: 400px; }
#feedback-form ul li textarea{ height: 200px; }

/******************************************* SNACKBAR *******************************************/
#snackbar{ visibility: hidden; min-width: 250px; background-color: #333; color: #fff; text-align: center; border-radius: 2px; padding: 16px; position: fixed; z-index: 4; bottom: 30px; left: 40%; margin: auto; }
#snackbar.show{ visibility: visible; -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s; animation: fadein 0.5s, fadeout 0.5s 2.5s; }
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}